// Copyright © 2017 Flexpoint Tech Ltd. All rights reserved.
@import "cljsjs/react-toolbox/development/react-toolbox.inc";
@import "cljsjs/codemirror/development/codemirror";

// Page layout.
html, body {
  margin: 0;
  padding: 0;

  #app {
    #whole-page-wrapper {
      display: flex;
      flex-direction: column;
      #main-and-asides {
        display: flex;
        flex-direction: row;

        aside.menu {
          a {
            text-decoration: none;
          }
        }

        main.content {
          min-width: 0; // This makes the page not expand horizontally beyond the view-port, forcing code samples to have a horizontal scroll bar when necessary: https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
        }
      }
    }

    footer {
      img.dashman-logo {
        vertical-align: text-bottom;
        background-color: lightgray;
      }
    }
  }
}

// Code editor.
div.CodeMirror {
  border: 1px solid black;
  margin: 10px 0;
}

// Tables.
main.content article table {
  border-collapse: collapse;

  th {
    text-align: left;
    border-bottom: 1px solid black;
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }

  td, th {
    padding: 5px 15px;
  }

  td {
    vertical-align: top;
  }
}

