// Copyright © 2017 Flexpoint Tech Ltd. All rights reserved.
@import "cljsjs/react-toolbox/development/react-toolbox.inc";
@import "cljsjs/codemirror/development/codemirror";

html, body {
  margin: 0;
  padding: 0;
}

#main-panel {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 100%;
  }

  > aside.menu {
    flex: 1 auto;
    a {
      text-decoration: none;
    }
  }

  > main {
    flex: 20 0;

    article {
      div.CodeMirror {
        border: 1px solid black;
      }

      table {
        border-collapse: collapse;

        th {
          text-align: left;
          border-bottom: 1px solid black;

          &.description {
            width: 50%;
          }
        }

        tr:nth-child(even) {
          background-color: #eeeeee;
        }
      }
    }
  }
}
